<script>
var Missions = {
    gameName: "<%=@game.name%>",
    modes : <%=Mission::MODES%>,
    missions : <%=Nezal::Decoder.encode(Mission::all)%>,
    arrange : function() {
      this.changeMode($('mode'));
      this.modes.each(function(mode){  
        $(mode).childElements().each(function(element){
                                            var next = element.getAttribute('next');
                                            var id = element.getAttribute('id');
                                            if(next)
                                            {
                                                var mission = $(next);
                                                if(mission) 
                                                {
                                                  mission.setStyle("padding-left : 10px;")
                                                  $(id).insert(mission);
                                                }
                                            }
                                        });  
      });
    },
    remove : function(id){
      document.getElementById('delete_' + id).submit()
    },
    changeMode : function(element){
      $('parent').innerHTML = TrimPath.processDOMTemplate("missionParent", {missions : this.missions[element.value]});
    } 
}
$(document).observe('dom:loaded',function(){
   Missions.arrange();
});
</script>

<div id="game">

  <div id="backLink">   
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>">
      Back
    </a>
  </div>

  <div id="game_name">
    <%=@game.name%>
    <span class="title" style="color :  DarkOliveGreen;">
      Quests
    </span>
  </div>

  <div id="game_missions">
    <div id="mission_form">
      <LABEL for="new_mission" class="label add">Add New Mission</LABEL>
      <form id="new_mission" action="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>/missions" method="post" enctype="multipart/form-data">
        <div class="form_row">  
          <LABEL for="name">Name</LABEL>
          <INPUT type="text" id="name" name='name'><BR>
        </div>
        <div class="form_row">  
          <LABEL for="mode">Mode</LABEL>
          <select id="mode" name="mode" onchange="Missions.changeMode(this);">
            <% Mission::MODES.each do | mode | %>                      
              <option value="<%=mode%>"> <%=mode%> </option>
            <% end %>
          </select>
        </div>
        <div class="form_row">  
          <LABEL for="parent">Parent</LABEL>
          <select id="parent" name="parent">
            <option value=""> none </option>
            <% @missions['timeline'].each_value do | mission | %>                      
              <option value="<%=mission['id']%>"> <%=mission['name']%> </option>
            <% end %>
          </select>
        </div>
        <div class="form_row">
          <input type="submit" value="Add" class="submit"/>
        </div>
      </form>
    </div>
    <LABEL for="game_missions" class="label">Missions</LABEL>
    <% Mission::MODES.each do | mode | %>
    <LABEL for="game_missions" class="label"><%=mode%></LABEL>
    <div id="<%=mode%>">
      <% @missions[mode].each_pair do | id, data | %>
        <div id="<%=id%>"  next="<%=data['next']%>" >
          <span style="width : 20%; display : block; float : left;">
            <a href="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>/missions/<%=id%>">
              <%=data["name"]%>
            </a>
          </span>
          <form id="delete_<%=id%>" action="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>/missions/<%=id%>" method="POST" style="display:inline">
            <input type="hidden" name="_method" value="put"/>
            <a href="#" onclick="Missions.remove(<%=id%>);" class="submit_links"> x </a>
          </form> 
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>

<textarea id="missionParent" style="display:none;">
  <option value=""> none </option>
  {for mission in missions}
    <option value="${mission['id']}"> ${mission['name']} </option>
  {/for}
</textarea>
